<h1>Goal</h1>

<div>
    <h1>Add Goal</h1>
    <form #form="ngForm" (ngSubmit)="SendData()">
      <div class="goals">
        <div>
          <label for="name">Name</label>
          <input
            [(ngModel)]="goal.name"
            type="text"
            name="name"
            id="name"
          />
        </div>
        <div>
          <label for="description"
            >Description</label
          >
          <input
            [(ngModel)]="goal.description"
            type="text"
            name="description"
            id="description"
          />
        </div>
  
        <div>
          <label for="content">Content</label>
          <div>
            <div>
              <textarea
                name="content"
                id="content"
                style="height: 380px; max-height: 370px"
                [(ngModel)]="goal.content"
              ></textarea>
            </div>
            <div style="max-height: 350px; overflow-y: scroll">
            </div>
          </div>
        </div>
  
        <div>
          <label for="publishedDate">Published Date</label>
          <input
            [(ngModel)]="goal.publishedDate"
            type="date"
            name="publishedDate"
            id="publishedDate"
          />
        </div>
        
        <div>
            <label for="status">Status note this will be a dropdown</label>
            <input
              [(ngModel)]="goal.status"
              type="text"
              name="status"
              id="status"
            />
          </div>
       
          <div class="categories">
            <label for="categories">Categories</label>
            
              <select
                [(ngModel)]="goal.categories"
                name="categories"
                id="categories"
                multiple
              >
                <option *ngFor="let category of categories$ | async" [value]="category.id">
                  {{ category.name }}
                </option>
              </select>
         
          </div>
        <div>
          <button type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
  
  <div>
    <button
      type="button"
      style="position: fixed; top: 10px; right: 10px"
    >
      X
    </button>
  
  </div>

