<nav class="background">
    <div>
      <a [routerLink]="['/']">Home</a>
      <button
        type="button"
      >
      </button>
      <div>
        <ul>
          <li>
                <li>
                  <a [routerLink]="['/items']"
                  >Items</a>
                <hr>
                  <a [routerLink]="['/goals']"
                  >Goals</a>
                  <hr>
                  <a [routerLink]="['/progress']"
                  >Progress</a>
                  <hr>
                  <a [routerLink]="['/info']"
                  >SAD</a>
                </li>
           
        </ul>  
      </div>
    </div>
  </nav>
